@inherits LayoutComponentBase

    <div>
        <div class="sidebar">
            <NavMenu />
        </div>
    </div>


<div class="main">
    <!-- СONTENT -->
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>

    <!-- СONTENT -->
    <div class="content px-4">
        @Body
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <p class="footer-copyright">
            &copy; 2020 - Infocom LTD
        </p>
    </footer>
</div>
