@page "/NRI/Nomenclature"
<h3>Nomenclature</h3>
<div class="container">

    <div class="row">

       <div class="container">

       </div>
        <div class="container">

        </div>
            <div class="col-md-12">
                <table class="table table-bordered table-responsive-lg table-hover">
                    <thead>
                        <tr>
                            <th class="col">Управление</th>
                            <th class="col">Наименование</th>
                            <th class="col">Артикул</th>
                            <th class="col">Спецификации</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-primary">1</button>
                                <button class="btn btn-primary">2</button>
                            </td>
                            <td>Наименование1</td>
                            <td>12345678</td>
                            <td>
                                Длина - 1 <br />
                                Ширина - 2 <br />
                                Вес - 3 <br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

</div>

@code {

}
